In [1]:
import pandas as pd

In [3]:
incomes_raw_df = pd.read_excel('../static/terminal_data_hackathon v4.xlsx', 
                               sheet_name='Incomes', engine='openpyxl')

In [4]:
incomes_raw_df

,TID,остаток на 31.08.2022 (входящий),2022-09-01 00:00:00,2022-09-02 00:00:00,2022-09-03 00:00:00,2022-09-04 00:00:00,2022-09-05 00:00:00,2022-09-06 00:00:00,2022-09-07 00:00:00,2022-09-08 00:00:00,...,2022-11-21 00:00:00,2022-11-22 00:00:00,2022-11-23 00:00:00,2022-11-24 00:00:00,2022-11-25 00:00:00,2022-11-26 00:00:00,2022-11-27 00:00:00,2022-11-28 00:00:00,2022-11-29 00:00:00,2022-11-30 00:00:00
0,406136,160000,90000,105000,99000,107000,110000,60000,75000,89000,...,91000,78000,0,165000,0,189000,106000,94000,75000,74000
1,406139,387000,103000,206000,168000,124000,78000,165000,164000,174000,...,164000,153000,151000,157000,206000,182000,123000,138000,112000,179000
2,406145,287000,143000,136000,124000,117000,123000,140000,139000,138000,...,119000,100000,179000,169000,118000,118000,114000,128000,121000,124000
3,406148,355000,50000,73000,53000,65000,75000,100000,53000,52000,...,48000,55000,65000,85000,95000,68000,62000,0,118000,70000
4,406180,597000,96000,82000,71000,72000,86000,55000,55000,75000,...,82000,56000,70000,59000,105000,70000,77000,87000,59000,55000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1625,699578,47000,0,0,10000,0,10000,6000,0,25000,...,35000,10000,10000,14000,27000,10000,0,45000,43000,120000
1626,699579,236000,49000,68000,0,0,13000,50000,0,132000,...,87000,68000,89000,81000,38000,0,0,104000,63000,94000
1627,699629,67000,63000,63000,63000,64000,74000,0,121000,63000,...,55000,49000,53000,47000,54000,55000,54000,47000,62000,50000
1628,699641,278000,63000,0,0,51000,0,0,77000,0,...,40000,48000,0,0,96000,0,39000,0,85000,45000
1629,699664,333000,0,0,47000,0,43000,0,0,36000,...,18000,18000,30000,35000,33000,0,44000,0,55000,0